*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
}
.body{
    min-height: 120%;
    min-width: 120%;
}
.container{
    background-color: #FFCD9E;
    width: 100%;
    display: grid;
    grid-template-rows: auto 43%;
}
.one{
    grid-row: 1/2;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto 50%;
}
.two{
    grid-row: 2/3;
    background-color: black;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2%;
}
.grid1{
    grid-row: 1/2;
    grid-column: 1/2;
}
.grid2{
    grid-row: 2/3;
    grid-column: 1/2;
}
.grid3{
    grid-column: 2/3;
    grid-row: 1/4;
    height: 130%;
    background-image: url(./dweep\ io\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 

}
.para1{
    padding-top: 4.3%;
    padding-left: 17%;
    width: 100%;
    color: #282828;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
}
.para2{
    color: #484848;
    font-weight: 500;
    padding-top: 2.6%;
    padding-left: 17%;
    padding-bottom: 3.9%;
    line-height: 30px;
    font-size: 20px;
    width: 80%;
}
.para3{
    padding-left: 17%;
    color:#282828;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
}
.flex-box{
    padding-top: 2.6%;
    padding-left: 17%;
    height: 100px;
    display: grid;
    grid-template-columns: 50% 30%;
    grid-template-rows: 70%;
    column-gap: 2%;
}
.div1{
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #FFFF;
    border: 4px solid black;
    border-radius: 8px;
}
.div2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: black;
    border-radius: 8px;
}
.para{
    color: #888888;
    padding-left: 10%;
    padding-top: 3%;
    font-weight: 600;
    font-size: 20px;
    font-family: Inter;
    line-height: 32px;
}
.reg{
    color: rgba(255,255,255,0.9);
    font-size: 20px;
    font-weight: 600;
    font-family: Inter;
    text-align: center;
    padding-top: 9%;
}
.caution{
    padding-left: 25%;
}
.cau{
    font-size: 16px;
    color:#FFFFFF;
    font-family: Inter;
    padding-bottom: 11.9%;
}
.list1{
    color: #FFFFFF;
    padding-top: 4%;
    padding-left: 200px;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
}
.list2{
    display: flex;
    color: #FFFFFF;
    padding-top: 6%;
    padding-left: 40%;
    font-size: 20px;
    line-height: 35px;
    font-weight: 400;
    text-align: right;
}
.images{
    width: 200px;
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    border: 2px;
    column-gap: 5px;
}
